@import url('https://fonts.googleapis.com/css?family=Barrio|Open+Sans');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-size: 16px; /*16px=1em*/
	position: relative;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

header h3 {

	text-transform: uppercase;
  	border-bottom: 4px solid black;
	display: inline-block;
  	font-weight: 800;
  	padding: 10px;
  	clear:both;

}



nav {

	font-family: 'Open Sans', sans-serif;
	width:100%;


}


nav a {
	
	text-decoration: none;
	padding: 10px;
	float:left;
	display:inline-block;
	text-align: center;
	color: #E83E68;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5em;
	background-color: #C9E8D5;
	margin:auto;

}

a:hover {
	background-color: white;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

#logo {
	width:30%;
	float:left;
}

#nav {
	width:70%;
	float:right;
}


main {
    width: 30em;
    margin: auto;
}

#splash {
	background-image: url("../images/Tarifaoldtown.jpg");
	background-size:cover;
	color: #fff;
	overflow: hidden;
	text-align:center;
	/* height: 90vh; */
}

#splash div {
    background: rgba(97, 4, 49, 0.55);
    width: 50%;
    float: right;
    padding: 4em;
}


#subheader {
	margin:0px 0px 60px 0px;
}

h1 {
	font-size: 4em;
	padding: 30px 20px 30px;
	font-family: 'Barrio', cursive;
	font-weight: bold;
}

h1, h2, h3, h4 {
	margin:1em 0;
	text-align:center;
}



p {
	margin-top:1em;
}



.cta {
	background-color: #C9E8D5;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding:10px;
}

.restaurants {
	text-decoration: underline;
	text-transform: uppercase;
}

.smallpics {
	width: 100%;
}

hr {
border:none;
height:3px;
background-color: #3C3C3C;
width:2em;
margin:2em auto;
}

footer {
	margin: 0 auto;
	background: rgba(97, 4, 49, 0.55);
	text-align: center;
	padding: 1em 0;
    clear: both;
}

