body {
	text-align: center;
	color: black;
	font-family: Helvetica, arial, sans-serif;
}
#splash {
	background-image: url("../images/Tarifa.jpg");
	background-size:cover;
	color: #fff;
	height: 90vh;
}
